%ul.ext_nav
  %li
    = link_to '&laquo; Назад в личный кабинет', cabinet_users_url
  %li
    = link_to '&laquo; Новости сайта', manager_reports_url
      
= object_errors(@report)

%h5
  Обновить новость
    
.form
  .ltc
    &nbsp;
  .rtc
    &nbsp;
  .lbc
    &nbsp;
  .rbc
    &nbsp;
    
  -form_for :report, :url => report_path, :html=>{:method=>:put} do |f|
    %label{:for=>:title}
      Заголовок новости
    %p
      = f.text_field :title, :class=>:input

    %label{:for=>:author}
      Автор страницы
    %p
      = f.text_field :author, :class=>:input
      
    %label{:for=>:keywords}
      Ключевые слова
    %p
      = f.text_field :keywords, :class=>:input

    %label{:for=>:description}
      Краткое описание
    %p
      = f.text_field :description, :class=>:input
      
    %label{:for=>:copyright}
      Авторское право
    %p
      = f.text_field :copyright, :class=>:input

    %label{:for=>:head_addon}
      Системный раздел head (вставка css, js и т.д.)
    %p
      = f.text_area :head, :class=>:textarea_small

    %label{:for=>:header}
      Название страницы
    %p
      = f.text_field :header, :class=>:input
    
    %label{:for=>:anotation}
      Очень краткое описание новости
    %p
      = f.text_area :annotation, :class=>:textarea_small

    %label{:for=>:content}
      Содержимое страницы
    %p
      = f.text_area :content, :class=>:textarea_mid

    %label{:for=>:foot_addon}
      Раздел footer (рекомендуется не заполнять, только для специалистов)
    %p
      = f.text_area :footer, :class=>:textarea_small
            
    %p 	
      = submit_tag 'Обновить новость', :class=>:submit
